$color-primary-blue: #3195ff;
$color-primary-blue-2: #143f7d;

$color-grey-1: #5f8a9a;
$color-grey-dark: #333;
$color-grey-3: #c8c8c8;

$color-red: #b81a12;

$color-orange-1: #f56854;

$color-dark: #000;
$color-dark-2: #111;
$color-dark-3: #222;
$color-dark-4: #0c0c0c;

$color-white: #fff;
