$color-primary-blue: #3195ff;
$color-primary-blue-2: #143f7d;

$color-blue-dark: #2c3e50;

$color-grey-1: #5f8a9a;
$color-grey-dark: #333;
$color-grey-3: #c8c8c8;

$color-red: #b81a12;
$color-red-2:#ea5252;

$color-orange-1: #f56854;

$color-dark: #000;
$color-dark-2: #111;
$color-dark-3: #222;
$color-dark-4: #333;
$color-dark-4: #0c0c0c;

$color-white: #fff;
$color-white-2: #f1f1f1;
$color-white-3: #f4f4f4;