.btn {
  display: inline-block;
  font-size: 1.5rem;
  font-weight: 700;
  border-radius: 0.5rem;
  padding: 1rem 3rem;
  color: $color-white;
  background-color: $color-primary-blue;
  line-height: 2.4;
  text-transform: uppercase;
  cursor: pointer;

  &:hover {
    background-color: transparent;
    border: 1px solid #fff;
  }
}

.btn-primary {
  transition: all 0.3s ease-in;
  &:hover {
    transform: translateY(-5px);
  }
}

.btn-secondary {
  width: 100%;
  background-color: $color-grey-dark;
  border: none;
  outline: none;
  transition: all 0.3s ease-in-out;

  &:hover {
    background-color: $color-primary-blue;
    border: none;
  }
}
