.btn {
  display: inline-block;
  font-size: 1.5rem;
  font-weight: 700;
  border-radius: 0.5rem;
  padding: 1rem 3rem;
  color: $color-white;
  background-color: $color-primary-blue;
  line-height: 2.4;
  text-transform: uppercase;
  cursor: pointer;

  &:hover {
    background-color: transparent;
    border: 1px solid #fff;
  }
}
