* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
}

body {
  background-color: $color-dark;
  color: $color-white;
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  line-height: 1.6;
}

a:link,
a:visited {
  color: #fff;
}

.container {
  max-width: 115rem;
  margin: 0 auto;
}
